body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}



/*nav bar */

header {
  background-color: #000;
  color: #fff;

    margin: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 0 2em;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  width: 30%;
  margin: 10px;
}

nav a {
  float: none;
  text-decoration: none;
  color: #fff;

}

nav a:hover {
  text-decoration: underline;
}

nav input {
  width: 30%;
 
}


nav ul {
  list-style: none;

  display: flex;
  width: 40%;
}

nav li {
  margin-right: 20px;
}


main {
  background-color: #f0f0f0;
  width: 100%; 

}
main .wrapper {
  padding: 20px;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.main-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-list {
 
  display: grid;
  grid-template-columns: auto auto auto auto;
 
}



form {
  width: 50%;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: .5em;
  margin-bottom: .5em;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: .5em 1em;
  border: none;
  cursor: pointer;
}

 /*footer styling */
footer {
  text-align: center;
  background-color: #000;
  color: #fff;

  width: 100%;
}

footer p {
  padding: 20px;
}



 



/*services card */

.card {

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;

 
}

.card img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  float:left;
}

.card-text {
  font-size: 1em;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 0 5px 0 #ccc;
}



  @media (max-width: 768px) {
    /* Header */
    header {
      padding-top: .5em;
    }
  
    /* Nav bar */
    nav {
      height: 40px;
    }
  
    /* Services card */
    .card {
      width: 100%;
      height: auto;
    }
  
    .card img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    /* Header */
    header {
      padding-top: .25em;
    }
  
    /* Nav bar */
    nav {
      height: 30px;
    }
  
    /* Services card */
    .card {
      width: 100%;
      height: auto;
    }
  
    .card img {
      width: 100%;
      height: auto;
    }
  }
  
